.row.z-depth-1.blue-grey.lighten-4
    .column.l6.video#remote-singer1
    .column.l6.video#remote-singer2


.row.z-depth-1.blue-grey.lighten-4
    .column.l12.center
        h5 Viva la Vida
        p Coldplay
        p Viva la vida
        br
        p User1
        p User2